In [1]:
import pandas as pd
import glob

In [42]:
print(glob.glob("*"))

['proj.py', 'tmdb3.csv', 'tmdb2.csv', 'Untitled.ipynb', 'tmdb1.csv']

In [43]:
d=pd.DataFrame()
for i in glob.glob("*.csv"):
    print(i)
    d=pd.concat([d,pd.read_csv(i,lineterminator='\n',index_col="Unnamed: 0").transpose()])
d

tmdb3.csv
tmdb2.csv
tmdb1.csv

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
70000,False,/f75sd2ULYN0aWCnUhO0fm4aV1ch.jpg,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",NaN,70000,tt1806906,ja,ファッション・ヘル,...,2010-12-03,0,75,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Horny House of Horror,False,4.696,23
70001,False,/Am8SJWHvnMRGHA1z54vg3e2lIxV.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,70001,tt0861716,en,Luna: Spirit of the Whale,...,2007-05-13,0,90,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A clash of two cultures. The freedom of one wh...,Luna: Spirit of the Whale,False,6.75,4
70002,False,/phwUPMMSrj8Cil5OAvEiasCFmWz.jpg,NaN,0,"[{'id': 16, 'name': 'Animation'}]",NaN,70002,tt0041213,en,Bubble Bee,...,1949-06-24,0,7,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Bubble Bee,False,6.2,6
70003,False,/bRImkjAgV1MrGuWlL3XTujkfVsd.jpg,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 99, 'n...",http://www.blu-elements.de/,70003,tt3443014,en,Forsenses II: Timber Lounge,...,2011-03-25,0,59,[],Released,NaN,Forsenses II: Timber Lounge,True,6.8,8
70004,False,NaN,NaN,0,[],NaN,70004,NaN,fr,"Tic & Tac, Regroupement d'histoires",...,2003-03-12,0,0,[],Released,NaN,"Tic & Tac, Regroupement d'histoires",False,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,False,/5IsTrvzM3dEB5w4Yj5FNX3j0FIK.jpg,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,39995,tt0079482,en,Long Weekend,...,1979-03-29,0,92,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Their crime was against nature. Nature found t...,Long Weekend,False,6.234,122
39996,False,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,39996,tt0081081,it,Luca il contrabbandiere,...,1980-08-08,0,97,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,NaN,Contraband,False,6.2,32
39997,False,/m9GuOIqGJyjxLI7TtqzhAzMBjwv.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",NaN,39997,tt0095608,en,Meet the Hollowheads,...,1989-11-15,0,86,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Meet the Hollowheads,False,5.5,19
39998,False,/8k5OEMrBuiN51yVnAYZPAnwPtvW.jpg,"{'id': 680723, 'name': 'The Fruit is Ripe Seri...",0,"[{'id': 10749, 'name': 'Romance'}]",NaN,39998,tt0167945,cn,蜜桃成熟時,...,1997-03-12,0,90,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,NaN,The Fruit is Swelling,False,4.0,8
39999,False,/vnXwqJ7TQtJJaPsufVeg0kF1dlr.jpg,NaN,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 27,...",NaN,39999,tt0099368,en,Daughter of Darkness,...,1990-01-26,0,93,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Daughter of Darkness,False,5.306,18

In [14]:
# a=pd.read_csv("tmdb3.csv",lineterminator='\n',index_col=).transpose()
a=pd.read_csv(i,lineterminator='\n',index_col="Unnamed: 0").transpose()
a

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
70000,False,/f75sd2ULYN0aWCnUhO0fm4aV1ch.jpg,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",NaN,70000,tt1806906,ja,ファッション・ヘル,...,2010-12-03,0,75,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Horny House of Horror,False,4.696,23
70001,False,/Am8SJWHvnMRGHA1z54vg3e2lIxV.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,70001,tt0861716,en,Luna: Spirit of the Whale,...,2007-05-13,0,90,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A clash of two cultures. The freedom of one wh...,Luna: Spirit of the Whale,False,6.75,4
70002,False,/phwUPMMSrj8Cil5OAvEiasCFmWz.jpg,NaN,0,"[{'id': 16, 'name': 'Animation'}]",NaN,70002,tt0041213,en,Bubble Bee,...,1949-06-24,0,7,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Bubble Bee,False,6.2,6
70003,False,/bRImkjAgV1MrGuWlL3XTujkfVsd.jpg,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 99, 'n...",http://www.blu-elements.de/,70003,tt3443014,en,Forsenses II: Timber Lounge,...,2011-03-25,0,59,[],Released,NaN,Forsenses II: Timber Lounge,True,6.8,8
70004,False,NaN,NaN,0,[],NaN,70004,NaN,fr,"Tic & Tac, Regroupement d'histoires",...,2003-03-12,0,0,[],Released,NaN,"Tic & Tac, Regroupement d'histoires",False,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,False,/hLZkOUrh4m7DfYbzv3jDmzmag43.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,99994,tt0027727,en,Hearts in Bondage,...,1936-05-26,0,72,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Inspired romance - Bright gallantry - High cou...,Hearts in Bondage,False,4.5,6
99995,False,/jQvfxZDmxbKujIPjaJrYxKyunmE.jpg,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,99995,tt0032021,en,They Made Her a Spy,...,1939-04-14,0,69,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,UNCLE SAM CRACKS DOWN ON SPIES! A lone woman r...,They Made Her a Spy,False,0.0,0
99997,False,/uAG9D0mTEHhYsJ20W8Pk8i3SDn8.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,99997,tt0027196,en,West Point of the Air,...,1935-03-23,0,89,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Biggest Romantic Thrill Since ""Hell Divers""",West Point of the Air,False,7.0,1
99998,False,/wS0lvCKBe2FdCHhXQgSPU8lozbG.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,99998,tt0032130,en,Wings of the Navy,...,1939-02-11,0,89,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,FOR ALL THE WORLD TO WITNESS THAT AMERICA WILL...,Wings of the Navy,False,6.3,3
99999,False,/xKR8HyxCi3E4R7IwR8deiG59V9f.jpg,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,99999,tt0156078,de,Der Sieg des Glaubens,...,1933-12-01,0,67,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,The Victory of Faith,False,5.7,13

In [31]:
d.columns

Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [37]:
'2' in d.index

True

In [40]:
"https://image.tmdb.org/t/p/original"+d.loc['2']['poster_path']

'https://image.tmdb.org/t/p/original/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg'